.film {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    padding: 40px 130px;
}

.film-img {
    display: block;
    max-height: 420px;
    background-color: red;;
}

.film-info {
    display: flex;
    position: relative;
    flex-direction: column;
    gap: 30px;
    background: no-repeat;
    padding-top: 20px;
    padding-left: 80px;
    min-height: 100%;
}

.film-info__title {
    font-size: 2rem;
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
}

.film-info__description {
    font-size: 1.2rem;
    width: 60%;
}

.film-info__background-image img {
    position: absolute;
    right: 0;
    top: 0;
    /* width: 50%; */
    height: 100%;
    transform: scaleX(-1);
    opacity: .2;
}