.single-film-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.single-film {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px 0;
    height: 100%;
}

.single-film-img {
    display: block;
    max-height: 540px;
    max-width: 90%;
    margin: 0 auto;
}

.single-film-info {
    display: flex;
    position: relative;
    flex-direction: column;
    gap: 30px;
    background: no-repeat;
    padding-top: 20px;
    text-align: center;
}

.single-film-info__title {
    font-size: 3rem;
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
}

.single-film-info h2 {
    font-size: 1.5rem;
    font-weight: normal;
}

@media (max-width: 375px) {
    .single-film-info__title {
        font-size: 2.5rem;
    }

    .single-film-info h2 {
        font-size: 1.3rem;
    }
}

@media (max-width: 320px) {
    .single-film-info__title {
        font-size: 2.2rem;
    }

    .single-film-info h2 {
        font-size: 1.1rem;
    }
}

.single-film-info__button {
    margin: 0 auto;
    width: 120px;
}